<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>local-server</title>
  <link rel="icon" href="/_assets/favicon.ico">
  <link rel="stylesheet" href="/_assets/styles/index.css">
  <script src="/_assets/scripts/qrcode.min.js"></script>
</head>
<body>
  <div class="breadcrumb">
    <a href="/" title="<%= CWD %>">🏠</a>
    <% breadcrumb.forEach(function(nav, index) { %>
      <span class="delimiter">/</span>
      <% if (index < breadcrumb.length - 1) { %>
        <a href="<%= nav.href %>" class="nav"><%= nav.name %></a>
      <% } else { %>
        <span><%= nav.name %></span>
      <% } %>
    <% }) %>
  </div>
  <table cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th style="width: 150px;">Size</th>
        <th style="width: 200px;">Creation Time</th>
        <th style="width: 200px;">Update Time</th>
        <th style="width: 200px;"></th>
      </tr>
    </thead>
    <tbody>
      <% if (files.length > 0) { %>
        <% files.forEach(function(item) { %>
          <tr>
            <td>
              <a href="<%= item.href %>">
                <img src="<%= item.iconPath %>" class="file-icon">
                <span><%= item.name %></span>
              </a>
            </td>
            <td><%= item.size || '-' %></td>
            <td><%= new Date(item.createTime).toLocaleString() %></td>
            <td><%= new Date(item.updateTime).toLocaleString() %></td>
            <td>
              <div class="buttons">
                <% if (!item.isDirectory) { %>
                  <button onclick="download('<%= item.href %>')">Download</button>
                <% } %>
                <button onclick="showQRCode('<%= item.href %>', <%= item.isDirectory %>)">QRCode</button>
              </div>
            </td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="4" class="empty-tips">no file</td>
        </tr>
      <% } %>
    </tbody>
  </table>

  <div id="qr-code-wrapper" onclick="this.style.display = 'none'">
    <canvas></canvas>
    <p></p>
  </div>

  <script>
    function download(href) {
      location.href = '<%= EXPOSED_Url %>' + href + '?attachment'
    }
    function showQRCode(href, isDirectory) {
      const url = '<%= EXPOSED_Url %>' + href + (isDirectory ? '' : '?attachment')
      const isDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches
      const qrCodeLayerEl = document.getElementById('qr-code-wrapper')
      const canvasEl = qrCodeLayerEl.getElementsByTagName('canvas')[0]
      const filenameEl = qrCodeLayerEl.getElementsByTagName('p')[0]
      QRCode.toCanvas(canvasEl, url, {
        width: 200,
        margin: 1.5,
        color: {
          light: isDarkMode ? '#eeeeee' : '#ffffff',
          dark: isDarkMode ? '#204f7e' : '#3380cd',
        }
      })
      filenameEl.innerText = href
      qrCodeLayerEl.style.display = 'flex'
    }
  </script>
</body>
</html>